.header {
  grid-column: 1/3;
  background-color: #edf6c0;
  padding: 10px;
}

.header img {
  width: 40px;
}

.loginBlock {
  float: right;
}

.loginBlock a {
  color: #0a0a0a;
  text-decoration: none;
}